In [6]:
import pandas as pd
import numpy as np
import yfinance as yf
import openpyxl
import os
import datetime as dt

In [4]:
stock_list = ['^NSEI', 'KOTAKBANK.NS']

In [8]:
end_date = dt.datetime.now()
end_date

datetime.datetime(2025, 11, 24, 15, 14, 22, 107184)

In [13]:
start_date = end_date - dt.timedelta(days=365*10)
start_date

datetime.datetime(2015, 11, 27, 15, 14, 22, 107184)

In [18]:
df = yf.download(stock_list, start=start_date, end=end_date)

C:\Users\vinay\AppData\Local\Temp\ipykernel_9300\1521819590.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(stock_list, start=start_date, end=end_date)
[*********************100%***********************]  2 of 2 completed

In [19]:
df.head()

Price             Close                      High                       Low  \
Ticker     KOTAKBANK.NS        ^NSEI KOTAKBANK.NS        ^NSEI KOTAKBANK.NS
Date
2015-11-27   694.230103  7942.700195   698.402947  7959.299805   678.581982
2015-11-30   687.871460  7935.250000   693.186889  7966.000000   684.245107
2015-12-01   684.145691  7954.899902   691.001082  7972.149902   682.158628
2015-12-02   676.048523  7931.350098   687.871511  7979.299805   672.620827
2015-12-03   670.434998  7864.149902   679.078733  7912.299805   666.560261

Price                           Open                    Volume
Ticker            ^NSEI KOTAKBANK.NS        ^NSEI KOTAKBANK.NS     ^NSEI
Date
2015-11-27  7879.450195   680.767763  7910.600098      1230913  150300.0
2015-11-30  7922.799805   693.186889  7936.250000       680738  216300.0
2015-12-01  7934.149902   689.014019  7958.149902       435334  138600.0
2015-12-02  7910.799805   686.530268  7976.700195       389654  126300.0
2015-12-03  7853.299805   671.627247  7902.299805       400981  125700.0

In [20]:
close_prices = df['Close']
close_prices.head()

Ticker      KOTAKBANK.NS        ^NSEI
Date
2015-11-27    694.230103  7942.700195
2015-11-30    687.871460  7935.250000
2015-12-01    684.145691  7954.899902
2015-12-02    676.048523  7931.350098
2015-12-03    670.434998  7864.149902

In [21]:
output_path = r"C:\Users\vinay\Desktop\Can I Fly\Quantitative Finance\1. Quant Finance"

In [22]:
output_file = os.path.join(output_path, "D3Stock_prices_Index.xlsx")
close_prices.to_excel(output_file)